.coffee {
    display: flex;
    padding-bottom: 30px;
    &__list {
        list-style-type: none;
        display:flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 800px;
        &__item {
            width: 220px;   
            height: 240px;
            font-weight: 400;
            margin-top: 25px;
            color: #000000;
            padding: 37px 26px 22px 26px;
            cursor: pointer;
            box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
            &:hover {
                background-color: lightgrey;
            }
            &:nth-child(n+4) {
                margin-top: 60px;
            }
            &__img {
                width: 167px;
                height: 115px;
                object-fit: contain;
                display: block;
            }        
            &__name {
                margin-top: 14px;
                font-style: normal;
                font-weight: 400;
                font-size: 13px;
                text-align: center;
            }   
            &__country {
                font-style: normal;
                font-weight: 400;
                font-size: 13px;
                text-align: right;
            }
            &__price {
                margin-top: 7px;                
                font-style: normal;
                font-weight: 400;
                font-size: 13px;
                text-align: right;
            }
        }
    }
}

.button {
    display: block;
    font-family: 'Merienda';
    width: 120px;
    height: 30px;
    // background: url("desk-791178_1920.jpg");
    background-color: rgba(28,28,28,0);
    font-weight: 700;
    margin: 0 auto;
    margin-top: 20px;
    border:solid 1px black;
    border-radius: 5px;
    color: black;
    cursor: pointer;
}

.error {
    text-align: center;
}